@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$color: #403ff2;
$color-2: #00334e;
$color-3: #d0d7e7;
$small-size: 0.375rem;
$small-size-2: 0.625rem;
$small-size-3: 0.875rem;
$medium-size: 1rem;
$medium-size-2: 1.375rem;
$medium-size-3: 1.75rem;
$large-size: 2.5rem;
$large-size-2: 3.5rem;
$large-size-3: 4.5rem;

html,
body,
#root,
#root > * {
  @extend .h-100, .w-100, .m-0, .p-0;
}

main {
  flex: auto;
}

body {
  @extend .d-flex, .flex-column;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

.cursor-pointer {
  &:hover {
    cursor: pointer;
  }
}

// Bootstrap
$navbar-light-active-color: $color;
$primary: $color;
$secondary: $color-2;
$success: #70c0b6;
$danger: #ea6f6f;
$white: #edeef2;
$light: $color-3;
@import "~bootstrap/scss/bootstrap.scss";
.rounded {
  border-radius: $small-size-2 !important;
}
.rounded-1 {
  border-radius: $small-size-3 !important;
}
.rounded-2 {
  border-radius: $medium-size !important;
}
.rounded-3 {
  border-radius: $medium-size-2 !important;
}

.input-group-text,
.form-control,
.btn,
.btn-lg {
  @extend .rounded, .shadow;
}

.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

// Bootstrap Icons
@import "~bootstrap-icons/font/bootstrap-icons.css";
